@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	text-align: center;
}

#container {
	margin: 12vh auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 550px;
}

#container #top-section {
	background-color: #6943ff;
	width: inherit;
}

#container #top-section .text {
	color: white;
	font-weight: 800;
}

#container #top-section .form {
	padding: 40px 40px 0 40px;
}

#container #top-section h1 {
	font-size: 28px;
}

#container #top-section .form-el {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

#container #top-section .input-el {
	background-color: #6943ff;
	border: 2px #b295ff solid;
	border-radius: 5px;
	width: 117px;
	height: 83px;
	font-size: 58px;
	text-align: center;
	font-weight: 800;
	transition: all 1s;
}

#container #top-section .input-el:focus {
	transform: scale(1.02);
	background-color: #7757f8;
}

#container #top-section .input-el::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#container #top-section .btn {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.9);
	outline: none;
	border: none;
	border-radius: 5px;
	width: 117px;
	height: 42px;
	font-weight: 500;
	font-size: 16px;
	transition: all 1s;
}

#container #top-section .btn:hover {
	transform: scale(1.03);
	background-color: rgba(255, 255, 255, 1);
}

#container #bottom-section {
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	width: inherit;
}

#container #bottom-section .box {
	background-color: white;
	margin: 10px 0;
	width: 500px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container #bottom-section h2 {
	color: #5a537b;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

#container #bottom-section p {
	font-weight: 400;
	font-size: 16px;
	color: #353535;
	text-align: center;
}
